# "Data Science Tools and Ecosystem"

`In this notebook, Data Science Tools and Ecosystem are summarized.`

**Objectives:**
- Data Science Languages.
- Data Science Libraries
- Data Science Tools.
- Arithmetic Expressions.
- Code for Multiplication and Addition.
- Code for Conversion from Minutes to Hours.

**A markdown cell to list data science languages**
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB
7. Java
8. C/C++
9. Julia

**A markdown cell to list data science libraries.**
1. NumPy
2. pandas
3. scikit
4. TensorFlow
5. PyTorch
6. Matplotlib
7. seaborn
8. SciPy

**A markdown cell with a table of Data Science tools.**

| Data Science Tools |
| -------------------|
| Jupyter Notebook   | 
| Anaconda           | 
| RStudio            | 
| Apache Hadoop      | 
| Apache Spark       | 
| Tableau            |
| Git                |

### Below are a few examples of evaluating arithmetic expressions in Python.
1. `+` example `1+1=2`
2. `-` example `1-1=0`
3. `*` example `2*2=4`
4. `/` example `2/2=1`

In [1]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes // 60
mins = minutes%60
print(f"{minutes} minutes is equal to {hours} hours and {mins} minutes.")

200 minutes is equal to 3 hours and 20 minutes.

## Author 
Urvash Shende